* {
  box-sizing:border-box;
}

body {
  padding: 0;
  border: 0;
  font-family: roboto,Sans-Serif;
  font-size: 100%;
  color: #444;
  line-height: 1.5;
  margin:0 24px 0 24px;
  background-color:white;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.abstract {
  font-size:1.15em;
  font-weight:300;
}

hr {
  box-sizing:content-box;
  height: 1px;
  background-color: #e4e4e4;
  line-height: 0;
  border: none;
  clear:both;
}

h2 {
  margin-top:35px;
  margin-bottom:25px;
  font-size: 1.5em;
  font-weight: 300;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom:0;
}

p,li,label {
  font-size: .875em;
}

.inset-image {
  float: left;
  max-width:50%;
  text-align:center;
  width:100%;
  margin-right:25px;
  margin-top:25px;
  display:block;
}


button {
  display: inline-block;
  margin: 6px;
  padding: 0;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  background-color: #007fad;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  cursor:pointer;
}

a {
  color: rgb(0, 127, 173);
  text-decoration: none;
}

.controls {
  margin:15px auto;
  text-align:center;
}

.performers {
  margin:25px auto;
  width:100%;
}

.player {
  width:100%;
  height:120px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
}

.avatar, .instrument {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-shrink:0;
}

.avatar {

}

.instrument {
  margin-left:16px;

}

.advance {
  margin-left:16px;
  margin-right:16px;
  flex-shrink:0;
  width:110px;
}

.bot {
  margin-left:16px;
  margin-right:16px;
  flex-shrink:0;
  width:110px;
}

.not-mine {
  margin-left:16px;
  margin-right:16px;
  flex-shrink:0;
  width:110px;
}

.disabled {
  background-color: #666;
  cursor:default;
}

.current {
  width: 100%;
  text-align: center;
}

.current img {
  height:100px;
  margin:0 auto;
  flex-grow: 2;
}

.hidden {
  display:none;
}

.inactive {

}

.active-performance {

}

.session-name {
  font-weight: 300;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  tap-highlight-color: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #444;
  height: 36px;
  width:300px;
  font-size:28px;
  text-align: center;
  padding-bottom: 3px;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  margin-bottom:15px;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
