* {
  box-sizing:border-box;
}

body {
  padding: 0;
  border: 0;
  font-family: roboto,Sans-Serif;
  font-size: 100%;
  color: #444;
  line-height: 1.5;
  background-color:white;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.abstract {
  font-size:1.15em;
  font-weight:300;
}

hr {
  box-sizing:content-box;
  height: 1px;
  background-color: #e4e4e4;
  line-height: 0;
  border: none;
  clear:both;
}

h2 {
  margin-top:35px;
  margin-bottom:25px;
  font-size: 1.5em;
  font-weight: 300;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom:0;
}

p,li,label {
  font-size: .875em;
}

.inset-image {
  float: left;
  max-width:50%;
  text-align:center;
  width:100%;
  margin-right:25px;
  margin-top:25px;
  display:block;
}


button {
  display: inline-block;
  margin: 6px;
  padding: 0;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  background-color: #007fad;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

a {
  color: rgb(0, 127, 173);
  text-decoration: none;
}

.controls {
  margin:15px auto;
  text-align:center;
}

.performers {
  margin:25px auto;
  width:100%;
}

.player {
  width:100%;
  height:120px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
}

.avatar, .instrument {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-shrink:0;
}

.avatar {

}

.instrument {
  margin-left:16px;

}

.advance {
  margin-left:16px;
  margin-right:16px;
  flex-shrink:0;
  width:110px;
}

.current {
  width: 100%;
  text-align: center;
}

.current img {
  height:100px;
  margin:0 auto;
  flex-grow: 2;
}
